.spacer {
  flex: 1 1 auto;
}

a 
{
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

.appName
{
  font-size: 25px;
}

.logout-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}


  